@model CarSearchModel

@{
    ViewData["Title"] = "Index";
}
@if (TempData.Peek("Success") != null)
{
    <p>@TempData["Success"]</p>
}

<h1>Car Search</h1>

<div>
    <form asp-action="Search">
        <div class="form-group">
            <label asp-for="Make" class="control-label"></label>
            <input asp-for="Make" class="form-control" />
            <label asp-for="Model" class="control-label"></label>
            <input asp-for="Model" class="form-control" />
            <label asp-for="Year" class="control-label"></label>
            <input asp-for="Year" class="form-control" />
            <label asp-for="Color" class="control-label"></label>
            <input asp-for="Color" class="form-control" />
        </div>
        <div>
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>

<br />
<p>
    <a asp-action="Post">Create New</a>
</p>
